name: Build, Push and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    uses: samalaajaykiran/reusable-workflow-templates-repo/.github/workflows/docker-build.yml@main
    with:
      dockerfile: 'Dockerfile'
      image-name: 'pythonchatapp'
      tag: 'v1'
      context: '.'

  push:
    uses: user/workflow-templates-repo/.github/workflows/docker-push.yml@main
    with:
      image-name: 'pythonchatapp'
      tag: 'v1'
      acr-login-server: ${{ secrets.ACR_LOGIN_SERVER }}
      ACR_USERNAME: ${{ secrets.ACR_USERNAME }}
      ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}

  deploy:
    uses: user/workflow-templates-repo/.github/workflows/deploy-app-service.yml@main
    with:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      app-name: 'python-chat-app-service'
      ResourceGroup: ${{ secrets.AZURE_ResourceGroup }}
      image-name: 'pythonchatapp'
      acr-login-server: ${{ secrets.ACR_LOGIN_SERVER }}
      tag: 'v1'
